.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fb; /* light app background */
}

.login-card {
    padding: 30px;
    width: 350px;
    border-radius: 12px !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.login-btn-box {
    margin-top: 20px;
}

.login-btn {
    background: #1e3c72 !important;
    color: white !important;
    text-transform: none !important;
}

.login-btn:hover {
    background: #16325c !important;
}