.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fb; /* same as login */
}

.register-card {
    padding: 30px;
    width: 350px;
    border-radius: 12px !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.register-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.register-btn-box {
    margin-top: 20px;
}

.register-btn {
    background: #2a5298 !important;
    color: white !important;
    text-transform: none !important;
}

.register-btn:hover {
    background: #1f437f !important;
}